@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header, footer {
    padding: 10px;
    background-color: #1b2431;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.header-logo {
    width: 150px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Main Section */

main {
    display: flex;
    flex-direction: column;
}

/* Section1 */

.section1 {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    gap: 100px;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    margin: 15px 0px;
}

.section1>div>p {
    font-size: 18px;
    font-weight: 300;
}

.img-section1{
    width: 35%;
    border-radius: 150px;
}

#input1 {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
}

#input1:hover {
    background-color: #255fbb;
}

/* Section 2 */

.section2 {
    text-align: center;
    color: #1f2937;
    padding: 20px;
    font-size: 2em;
}

figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    color: #394350;
}

figure>div>p{
    max-width: 200px;
    font-size: 20px;
}

figure>div>img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

/* Section 3 */

.section3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 0px 120px;
}

.section3>p:nth-child(1), .section3>p:nth-child(2) {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.section3>p:nth-child(1) {
    margin-bottom: 0px;
    max-width: 70%;
    align-self: center;
    text-align: center;
}

.section3>p:nth-child(2) {
    align-self: flex-end;
    margin-top: 0;
} 

/* Section 4 */

.section4-container {
    background-color: #3882f6;
    margin: 50px 150px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px 150px;
    gap: 150px;
}

.section4 input {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 20px 30px;
    font-size: 18px;
}

.section4 input:hover {
    background-color: #255fbb;
}

.section4 p:nth-child(1) {
    font-size: 36px;
    font-weight: 900;
}

.section4 p:nth-child(2) {
    font-size: 24px;
    font-weight: 300;
}